@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #2A215A;
}

.cabecalho-logo {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.cabecalho-menu a:hover {
    border-bottom: 2px solid red;
}

.cabecalho-menu a: {
    background-color: red;
}
